:root {
  --clr-primary:
}


/* Aktiveras för skärmar som är 760 pixlar eller mindre */
/* Endast för telefoner  */
@media (max-width: 760px){
  .phoneHide{
    display: none;
  }
}




body{
    font-family: "Manrope", sans-serif;
    margin: 0;
}



.navbar{
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.navbarLeft, 
.navbarRight{
    display: flex;
    align-items: center;
}

.logoText{
  font-weight: 900;
  color: #0B0F19;
}



/* Grund-Kod för toggleknapp skriven av ChatGPT */
.dark-mode-toggle {
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
    margin: 1rem 1.25rem;
    position: absolute;
  }
  
  .dark-mode-toggle span {/* Kod för toggleknapp skriven av ChatGPT */
    color: #565973;
    margin-right: 10px;
  }

  .toggle-checkbox {
    display: none;
    
  }

  .toggle-label {/* Kod för toggleknapp skriven av ChatGPT */
    position: relative;
    width: 60px;
    height: 30px;
    background-color: #565973;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s;
    user-select: none;
  }
  
  .toggle-label::after {/* Kod för toggleknapp skriven av ChatGPT */
    content: "";
    position: absolute;
    top: 3px;
    left: 3px;
    width: 24px;
    height: 24px;
    background-color: white;
    border-radius: 50%;
    transition: transform 0.3s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  .toggle-checkbox:checked + .toggle-label {/* Kod för toggleknapp skriven av ChatGPT */
    background-color: #6366F1;
  }
  
  .toggle-checkbox:checked + .toggle-label::after {/* Kod för toggleknapp skriven av ChatGPT */
    transform: translateX(30px);
  }




header{ /*Färgkod av Johan Larsson */
    background: linear-gradient(170deg, rgba(99, 102, 241, 0.1) 0%, rgba(218, 70, 239, 0.05) 42%, rgba(241, 244, 253, 0.07) 83%);
    /* Mörk tema?  background: linear-gradient(170deg, rgba(99, 102, 241, 0.1) 0%, rgba(218, 70, 239, 0.05) 42%, rgba(241, 244, 253, 0.07) 83%), #0B0F19; */
    display: flex;
}

.discoverBtnContainer{
    display: flex;
}

.features{
  display: flex;
}

.featuresContent{
  display: flex;
}

/* Tablet och telefon */
/* Vid skärm storlek 1300px eller mindre */
@media (max-width: 1300px){

  .desktopOnly{ 
      display: none;
    }
  }